<div id="root">
  <ul>
    <h1>Coleção de obras de arte</h1>
    <li>
      <button (click)="modal1_open()"><h2>Departamentos em que estas obras estão</h2></button>
    </li>
    <li>
      <button (click)="modal2_open()"><h2>Consulte as obras de arte</h2></button>
    </li>
  </ul>
  <app-customized-content>
    
    <div modal1 id="modal" *ngIf="mostrar1">
      <div class="overlay">
        <div id="root">
          <select [(ngModel)]="selectedTag">
            <option *ngFor="let tag of tags" [value]="tag['displayName']">{{ tag['displayName'] }}</option>
          </select>
          <br>
          <button (click)="modal1_open()">Fechar</button>
        </div>
      </div>
    </div>
    
    <div modal2 id="modal" *ngIf="mostrar2">
      <div class="overlay">
        <div id="root">
          <input type="number" placeholder="Escreva um número" [(ngModel)]="number">
          <button (click)="consultar()">Consultar</button>
          <h2>{{this.linkTitle}}</h2>
          <li>
            <button (click)="modal3_open()" *ngIf="mostrar2">Outras Características</button>
          </li>
          <button (click)="modal2_open()">Fechar</button>
        </div>
      </div>
    </div>

    <div model3 id="modal" *ngIf="mostrar3">
      <div class="overlay">
        <div id="root"><h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In viverra laoreet lorem, 
          at efficitur turpis consequat a. Aliquam at maximus ex, eu maximus orci.</h3>
          <br>
          <button (click)="modal3_open()">Fechar</button>
        </div>
      </div>
    </div>
  </app-customized-content>
</div>